$pinkyred: #ff385c;

.App {
  text-align: center;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  width:100%;
  margin:auto;
  color:rgb(72,72,72);
}

a {
  text-decoration: none;
  color:$pinkyred;
}


// .App-logo {
//   height: 40vmin;
//   pointer-events: none;
// }

// @media (prefers-reduced-motion: no-preference) {
//   .App-logo {
//     animation: App-logo-spin infinite 20s linear;
//   }
// }

.App-header {
  position:fixed;
  top:0; left:0;
  z-index:1;
  background-color: white;
  height:60px;
  width:100%;
  box-shadow:0px 5px 14px rgba(0,0,0,0.08);
  flex-direction: row;
  align-items:center;
  .App-header-content {
    // max-width:1000px; // Commented out to put the emblem left side
    height:100%;
    margin:auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items:center;
    // border-bottom:1px solid #eee;
    font-size: 19px;
    font-weight:600;
    color: #333;  
    .lab_title {
      flex:0 1 auto;
      margin-left:20px;  
      .light {
        margin-left:4px;
        font-weight:300;
       
      }
    }
    @media screen and (max-width: 999px) {
      .nav { display:none; }
    }
    @media screen and (min-width: 1000px) {
      .nav {
        flex:1 0 auto;
        ul {
          display:inline-block;
          list-style-type: none;
          margin:0; padding:0;
        }
        li {
          display:inline-block;
          margin-right:20px;
          cursor:pointer;
          border-radius:24px;
          background:white;
          padding:8px 16px;
          
          button {
            color:#999;
            border:none;
            background: none;
            font-size:15px;
            font-weight:200;
          }
        }
        li:hover {
          button {
            text-decoration: underline;
            
          }
        }
      }
    }
    .right {
      flex:0 1 auto;
      img.logo_kaist {
        display:inline-block;
        height:26px;
        margin-right:8px; margin-top:3px;
        opacity:0.7;
        vertical-align:middle;
      }
      img.logo_id {
        display:inline-block;
        height:28px;
        margin-right:4px; margin-top:0px;
        opacity:1;
        vertical-align:middle;
      }
    }
    
    
  }
}

.content {
  max-width:1000px;
  box-sizing: border-box;
  margin:80px auto;
  text-align:left;
  // background:#fafafa;
  border-radius:20px;
  padding:50px 20px 20px 20px;
  section {
    margin-bottom:60px;
    scroll-margin-top:100px;

    img.full_column {
      width: 100%;
    }
  }
  h2 {
    margin:0;
    margin-left:-20px;
    padding-left:12px;
    border-left:8px solid $pinkyred;
    font-size:18px;
    font-weight:800;
  }
  h3 {
    margin-top:32px;
    font-size:0.9em;
    // padding-left:1em;
    color:#333;
    em{
      color:#333;
      font-size:1.2em;
      font-style:normal;
    }
  }
  p {
    font-size:0.9em;
    line-height:1.5em;
    padding-right:0;
    em {
      font-weight:700;
      font-style:normal;
    }
  }
  p.indented {
    margin-top:-5px;
    padding-left:1em;
  }

  .videoContainer {
    position: relative;
    height: 0;
    padding-top: 56.25%;
    width:100%;
  }
  .videoContainer iframe {
    position: absolute;
    top: 0; left: 0;
    border: 0;
    width: 100%;
    height: 100%;
  }
  
}

ul.people_list {
  margin:20px; padding:0;
  li {
    list-style-type:none;
    display:inline-block;
    margin-bottom:20px; margin-right:40px;
    width:120px; 
    text-align:center;
    vertical-align: top;
    font-size:13px;
    img {
      width:100px;  height:100px;
      object-fit:cover;
      border-radius:100% !important;   
      background-color:#ddd; 
      filter:grayscale(100%);
    }
    img.noun_person {
      object-fit:contain;
      object-position:50% 20px;
      // color:white;
      filter:invert(1);
      opacity:0.25;
    }
    div.name {
      margin-top:6px;
      font-size:14px;
      font-weight:600;
    }
    div.role {
      font-size:13px;
    }
    div.email {
      font-size:11px;
    }
    div.website {
      a {
        color:#aaa
      }
    }
  }
}


ul.publications {
  margin:20px 0; padding:0;
  
  li {
    list-style-type:none;
    display:block;
    font-size:15px;
    margin-bottom:14px;
    .bib-item {
      .title {
        font-weight:600;
        .tag {
          display: inline-block;
          border-radius: 4px;
          vertical-align: top;
          border: 1px solid #2197ce;
          color: #2197ce;
          font-size: 10px;
          font-weight: 400;
          margin-left: 12px;
          padding: 1px 3px;
        }
      }
      .authors {
        line-height:1.5em;
        font-size:0.9em;
        em {
          font-weight:600;
          font-style:normal;
        }
      }
      .description {
        font-size:0.9em;
        line-height:1.6em;
      }
      span.acknowledgement {
        margin-left:10px; 
        margin-right:10px;
        font-weight:600;
        color:$pinkyred;
      }
      a.link {
        margin-left:4px;
        color:$pinkyred;
        font-size:0.9em;
        display: inline-block;
        vertical-align: bottom;
      }
    }
  }
}

.project {
  margin-top:16px;
  margin-bottom:70px;
  line-height:1.4em;
  .image {
    width:100%;
    img {
      width:100%;
    }
  }
  .title {
    font-weight:600;
    font-size:21px;
  }
  .contributors {
    font-size:13px;
    margin-top:4px;
    .sponsor {
      color:$pinkyred;
    }
  }
  .time {
    font-size:13px;
    font-style:italic;
  }
  .description {
    margin-top:4px;
    font-size:14px;
    span.link {
      margin-left:4px;
    }
  
  }
  .participants {
    margin-top:4px;
    font-size:12px;
    color:#aaa;
  }
  .collaboration {
    font-size:12px;
  }
}

// @keyframes App-logo-spin {
//   from {
//     transform: rotate(0deg);
//   }
//   to {
//     transform: rotate(360deg);
//   }
// }
